@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* this font is imported, called "Poppins"*/

:root {
    --primary-color: #3b9dff;
    /*background colour of the first section*/
}

body {
    background: #F2F2F2;
    margin: 0;
    font-family: 'Poppins';
    /*color of the main body of the website, so if u look below it will be this colour*/
}

.navbar {
    background: white;
    padding: 1em;
    /*color of the navigation bar*/
}

    /* This referes to div class = "Logo" (on line 12 html) */
    .navbar .logo {
        text-decoration: none; /*Removes the underlind, cause when u write href in html it will be underlind as if its a link*/
        font-weight: bold; /*font whether u want bold or a specific number*/
        color: black; /* font color*/
        font-size: 1.2em; /*size of font (can use cm, em, ex,px...)*/
    }

        /* This is the logo "team racing" but the word racing is in blue which calls the function --primary-color (on line 6 css)*/
        .navbar .logo span {
            color: var(--primary-color);
        }

    .navbar nav {
        display: none; /*Hides all the nagivation and displays the hamburger icon only*/
        /*mainly for mobile only*/
    }

    .navbar .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        place-content: space-between;
        /*moves the hamburger icon away from the logo*/
    }

    .navbar .mobile-menu {
        cursor: pointer;
        /*cursor icon will change into a click icon when hovering*/
    }

a {
    color: #444444;
    /*ANY links (href) has an underlind, which will be highlighted in this colour*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*margin and padding basically moves the text to the edge on the screen (left side)*/
    /*Any ul and li is a list meaning it will be in will be displayed in bullets or numbers. this removes the bullets basically*/
}

section {
    padding: 5em 2em;
    /*padding of a section (how apart u want them away from the screen*/
}

.hero {
    text-align: center;
    /*makes a function to center text*/
}

.left-col .subhead {
    text-transform: uppercase;
    font-weight: bold;
    color: gray;
    letter-spacing: .3em;
    /*another function*/
}

.left-col h1 {
    font-size: 2.5em;
    line-height: 1.3em;
    margin-top: .2em;
    /**/
}

.left-col .primary-cta {
    background: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: .6em 1.3em;
    font-size: 1.4em;
    border-radius: 5em;
    font-weight: bold;
    display: inline-block;
}

.left-col .watch-video-cta {
    display: block;
    margin-top: 1em;
}

    .left-col .watch-video-cta img {
        margin-right: .5em;
    }

.hero-img {
    width: 70%;
    margin-top: 3em;
}

section.features-section {
    background: #20272E;
    color: white;
}

ul.features-list {
    margin: 0;
    padding-left: .1em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}

    ul.features-list li {
        font-size: 1.1em;
        margin-bottom: 1em;
        margin-left: 2em;
        position: relative;
    }

        ul.features-list li:before {
            content: '';
            left: -2em;
            position: absolute;
            width: 20px;
            height: 20px;
            background-image: url("../images/bullet.svg");
            background-size: contain;
            margin-right: .5em;
        }

.features-section img {
    display: none;
}

/*This part of css refers to the coding made for (student Main Menu)*/
.testimonials-section {
    background: #fce687;
    color: white;
}

    .testimonials-section li {
        background: var(--primary-color); /*this refers to the box colour (taken from colour in line 5 .css)*/
        text-align: center;
        padding: 2em 1em;
        width: 80%;
        margin: 0 auto 5em auto;
        border-radius: 1em;
    }

        .testimonials-section li img {
            width: 5em;
            height: 5em;
            border: 5px solid var(--primary-color); /*this refers to the ring colour (taken from colour in line 5 .css)*/
            border-radius: 50%;
            margin-top: -4.5em;
            /*image (inside the blue box of main menu) settings*/
        }


.ar-section {
    background: #fce687;
    color: white;
}

    .ar-section li {
        background: var(--primary-color); /*this refers to the box colour (taken from colour in line 5 .css)*/
        text-align: center;
        padding: 1em 1em;
        width: 30%;
        margin: 0 auto 5em auto;
        border-radius: 1em;
    }

        .ar-section li img {
            width: 5em;
            height: 5em;
            border: 5px solid var(--primary-color); /*this refers to the ring colour (taken from colour in line 5 .css)*/
            border-radius: 60%;
            margin-top: 0em;
            /*image (inside the blue box of main menu) settings*/
        }
h2 {
    font-size: 2em;
}

label {
    display: block;
    font-size: 1.2em;
    margin-bottom: .5em;
}

/*This part is made for Review upload*/
.Review-section {
    background: #e9e9e9;
    ;
    color: rgb(0, 0, 0);
}

input, textarea {
    width: 100%;
    padding: .8em; /*textbox size*/
    margin-bottom: 1em; /*spacing between name and message*/
    border-radius: .3em;
    border: 1px solid gray;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    input[type="submit"] {
        background-color: var(--primary-color); /*button colour*/
        color: white; /*button text colour*/
        font-weight: bold;
        font-size: 1.3em;
        border: none;
        margin-bottom: 1em;
        border-radius: 10em; /*makes the shape of button from square to round-er*/
        display: inline-block;
        padding: .8em 2em; /*size of button from vertical to horizontal*/
        width: unset;
        cursor: pointer;
        /*button function for Upload Article*/
    }

/*for button start new upload*/
.Star-New-Upload-cta {
    background: rgb(150, 150, 255);
    color: white;
    text-decoration: none;
    padding: .8em 2em;
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 5em;
    width: unset;
    display: inline-block;
}

iframe {
    width: 100%;
    height: 500px;
}

.Upload {
    background: rgb(150, 150, 255);
    color: white;
    text-decoration: none;
    padding: .8em 2em;
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 5em;
    width: unset;
    display: inline-block;
    float:right;
}

.Back {
    background: rgb(150, 150, 255);
    color: white;
    text-decoration: none;
    padding: .8em 2em;
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 5em;
    width: unset;
    display: inline-block;
    float: right;
    margin-right:5px;
}



nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: #20272E;
    height: 100vh;
    padding: 1em;
}

    nav ul.primary-nav {
        margin-top: 5em;
    }

    nav li a {
        color: white;
        text-decoration: none;
        display: block;
        padding: .5em;
        font-size: 1.3em;
        text-align: right;
    }

        nav li a:hover {
            font-weight: bold;
        }

.mobile-menu-exit {
    float: right;
    margin: .5em;
    cursor: pointer;
}

/*for drop down article file*/

.select-box {
    width: 180px;
    position: relative;
}

    .select-box select {
        height: 50px;
        padding: 10px 15px;
        line-height: 18px;
        font-size: 16px;
        width: 100%;
        border: 2px solid #ccc;
        border-radius: 8px;
        -webkit-appearance: none;
        appearance: none;
    }

    .select-box:after {
        content: "";
        position: absolute;
        right: 20px;
        top: 50%;
        margin-top: -4px;
        border-top: 8px solid #ccc;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        pointer-events: none;
    }

    .select-box select: focus {
        border: 2px solid blue;
    }


/*for choose file*/


    .container .wrapper {
        position: relative;
        height: 300px;
        width: 100%;
        border-radius: 10px;
        background: #fff;
        border: 2px dashed #c2cdda;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

.wrapper.active {
    border: none;
}

.wrapper .image {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.wrapper .icon {
    font-size: 100px;
    color: #9658fe;
}

.wrapper .text {
    font-size: 20px;
    font-weight: 500;
    color: #5B5B7B;
}

.wrapper #cancel-btn i {
    position: absolute;
    font-size: 20px;
    right: 15px;
    top: 15px;
    color: #9658fe;
    cursor: pointer;
    display: none;
}

.wrapper.active:hover #cancel-btn i {
    display: block;
}

.wrapper #cancel-btn i:hover {
    color: #e74c3c;
}

.wrapper .file-name {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 8px 0;
    font-size: 18px;
    color: #fff;
    display: none;
    background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
}

.wrapper.active:hover .file-name {
    display: block;
}
 grid;
    width: 114em;
    grid-gap: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: start;
}

.grid-item {
    background-color: #fff;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
    box-sizing: border-box;
    font-size: 50.5%;
}

 font-size: 50.5%;
}

    .grid-item:hover  .grid-item:hov
/*for display article but could not use now */

.grid {
    display: grid;
    width: 114em;
    grid-gap: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: start;
}

.grid-item {
    background-color: #fff;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
    box-sizing: border-box;
    font-size: 50.5%;
}

    .grid-item:hover {
        transform: translateY(-0.5%);
        box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
    }

.card-img {
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.card-content {
    padding: 3rem;
}

.card-header {
    font-size: 3rem;
    font-weight: 500;
    color: #0d0d0d;
    margin-bottom: 1.5rem;
}

.card-text {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    color: #3d3d3d;
    margin-bottom: 2.5rem;
}

.card-btn {
    display: block;
    width: 100%;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: center;
    color: #3363ff;
    background-color: #d8e0fd;
    border: none;
    border-radius: 0.4rem;
    transition: 0.2s;
    cursor: pointer;
    letter-spacing: 0.1rem;
}

    .card-btn span {
        margin-left: 1rem;
        transition: 0.2s;
    }

    .card-btn:hover,
    .card-btn:active {
        background-color: #c2cffc;
    }

        .card-btn:hover span,
        .card-btn:active span {
            margin-left: 1.5rem;
        }

@media only screen and (min-width: 768px) {
    .mobile-menu, .mobile-menu-exit {
        display: none;
    }

    .navbar .container {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
        -webkit-box-pack: unset;
        -ms-flex-pack: unset;
        justify-content: unset;
    }

    .navbar nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;
    }

        .navbar nav ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }

        .navbar nav a {
            color: black;
            font-size: 1em;
            padding: .1em 1em;
        }

        .navbar nav ul.primary-nav {
            margin: 0;
        }

        .navbar nav li.current a {
            font-weight: bold;
        }

        .navbar nav li.go-premium-cta a {
            color: var(--primary-color);
            border: 3px solid var(--primary-color);
            font-weight: bold;
            border-radius: 5em;
            margin-top: -.2em;
        }

            .navbar nav li.go-premium-cta a:hover {
                background: var(--primary-color);
                color: white;
            }
}

/*display setting for PC*/
@media only screen and (min-width: 1080px) {
    .container {
        width: 1080px;
        margin: 0 auto;
    }

    section {
        padding: 10em 4em;
    }

    .hero .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        text-align: left;
    }

        .hero .container .left-col {
            margin: 3em 3em 0 5em;
        }

            .hero .container .left-col h1 {
                font-size: 3em;
                width: 90%;
            }

    .hero-img {
        width: 30%;
        margin-right: 8em;
    }

    .hero-cta {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .primary-cta {
        margin-right: 1em;
    }

    ul.features-list {
        display: block;
        margin-left: 5em;
    }

        ul.features-list li {
            font-size: 1.4em;
        }

            ul.features-list li:before {
                width: 30px;
                height: 30px;
            }

    .features-section {
        position: relative;
    }

        .features-section img {
            display: block;
            position: absolute;
            right: 0;
            width: 350px;
            bottom: -2em;
        }

    .testimonials-section ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

        .testimonials-section ul li {
            margin: 0 1em;
        }

    .contact-section {
        position: relative;
    }

        .contact-section .container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }

    .contact-right {
        position: absolute;
        right: 0;
        top: 0;
        width: 45%;
        height: 100%;
    }

        .contact-right iframe {
            height: 100%;
        }
}

@media only screen and (min-width: 1450px) {
    .features-section:before {
        content: '';
        position: absolute;
        width: 10%;
        height: 20em;
        background: var(--primary-color);
        left: 0;
        top: -4em;
    }

    .features-section:after {
        content: '';
        position: absolute;
        width: 200px;
        height: 20em;
        background: url("../images/dots.svg") no-repeat;
        left: 4.5em;
        top: 2em;
    }
}
/*# sourceMappingURL=main.css.map */
